<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="./voucher.css">
</head>
<body>
    <div class="top-bar">
        <div class="menu-section">
            <ul class="menu-items">
                <li class="menu-item">File</li>
                <li class="menu-item">Data</li>
                <li class="menu-item">Company</li>
                <li class="menu-item">Print</li>
                <li class="menu-item">Preference</li>
            </ul>
        </div>
        <div class="logo-section">Power Entry</div>
    </div>
    <div class="main-area">
        <div class="main-left-section">
            <div class="voucher-details-section">
                Voucher Detail Section
            </div>
            <div class="voucher-entries-section">
                Voucher Entries Section
            </div>
            <div class="voucher-tax-section">
                Voucher Tax Section
            </div>
            <div class="voucher-summary-section">
                Voucher Summary Section
            </div>
        </div>
        <div class="main-right-bar">Main Right Bar</div>
    </div>
    <div class="bottom-bar">
        <div class="bottom-bar-keys">
            <ul class="bottom-bar-keys-list">
                <li class="bottom-bar-key">Q : Quit</li>
                <li class="bottom-bar-key">S : Save</li>
                <li class="bottom-bar-key">A : Accept</li>
                <li class="bottom-bar-key">D : Delete</li>
            </ul>
        </div>
    </div>
    <script src="./voucher.js" ></script>
</body>
